<section style="margin-top: 50px; margin-left: 15vw;">
    <table>
            <tr>
                <th>Orders</th>
                <th>Customers</th>
                <th>Address</th>
                <th>Status</th>
                <th>Time</th>
                <th>Payment Status</th>
            </tr>
        <tbody id="orderTableBody">
            
        </tbody>
    </table>
</section>